@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Nunito:300,300i,400,400i,500,500i,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

.skills{
    
    height: auto;
    border-color: white;
    padding: 20px;
    overflow: hidden;
}

.skills h4{
    text-align: center;
    color: #2D8AB5;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
}
.skills h1{
    font-weight: 100;
    letter-spacing: normal;
    text-align: center;
    font-family: 'Capriola', sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 40px;
    color: #000000ba;
}

.skills p{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    letter-spacing: normal;
    text-align: center;
    padding: 10px 20px;
}


.skills .items{
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
    margin-top: 20px;
}

.skills .items .item {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.skills .items .item .item-text{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.skills .items .item .item-text h3{
    font-weight: 100;
    letter-spacing: normal;
    text-align: center;
    font-family: 'Capriola', sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000000ba;
}

.skills .items .item .item-text p{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    letter-spacing: normal;
    text-align: center;
    padding: 10px 20px;
}

.skills .items .item .item-icon{
    color: rgba(214,11,82,1);
    margin: 10px 5px;
}

.skills .items .item .item-icon:hover{
    color: #2D8AB5;
    margin: 10px 5px;
}

.galery h4{
    text-align: center;
    color: #2D8AB5;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
}
.galery h1{
    font-weight: 100;
    letter-spacing: normal;
    text-align: center;
    font-family: 'Capriola', sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 40px;
    color: #000000ba;
}

.galery p{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    letter-spacing: normal;
    text-align: center;
    padding: 10px 20px;
}

.retos{
    display: grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    flex-wrap: wrap;
    gap: 20px 20px;
    align-content: space-between;
    width: 85%;
    margin: auto;
    justify-content: space-around;
}

.retos .reto{
    width: 100%;
    position: relative;
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.582);
}

.reto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.retos .hide {
    display: none;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-45deg, rgba(214,11,82,1) 0%,rgba(45,138,181,1) 100%);
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    overflow: hidden;
    display: flex;
    
    justify-content: center;

}

.overlay h5{
    color: white;
    font-size: 15px;
    font-weight: 100;
    position: absolute;
    margin: 20px auto;
    text-align: center;
    /* top: 20%; */
    font-family: 'Capriola', sans-serif;
}

.overlay h3{
    color: white;
    position: absolute;
    margin: 20px 10px;
    text-align: center;
    top: 20%;
    font-family: 'Capriola', sans-serif;
    font-size: 15px;
}

.overlay p{
    position: relative;
    top: 40%;
    text-align: center;
    margin: 10px 10px;
    padding: 5px;
    color: rgb(255, 255, 255);;
}

.reto:hover .overlay{
    cursor: pointer;
    opacity: 1;
}

@media (max-width: 820px) {
    .retos{
        display: grid;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        flex-wrap: wrap;
        gap: 20px 20px;
        align-content: space-between;
        width: 85%;
        margin: auto;
        justify-content: space-around;
    }

    .skills .items{
        width: 100%;
        height: auto;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 20px;
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .retos{
        display: grid;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        flex-wrap: wrap;
        gap: 20px 20px;
        align-content: space-between;
        width: 85%;
        margin: auto;
        justify-content: space-around;
    }

    .skills .items{
        width: 100%;
        height: auto;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 20px;
        margin-top: 20px;
    }
}
