
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Nunito:300,300i,400,400i,500,500i,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

.education{
    height: auto;
    border-color: white;
    overflow: hidden;
}
.education h4{
  text-align: center;
  color: #2D8AB5;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  margin-top: 50px;
}
.education h1{
  font-weight: 100;
  letter-spacing: normal;
  text-align: center;
  font-family: 'Capriola', sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 40px;
  color: #000000ba;
}

.education p{
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;
  padding: 10px 20px;
}

.education .educa{
  width: 100%;
  height: 100vh;
  z-index: 1;
  position:absolute;
  object-fit: cover;
  opacity: .8;
}

.education .infor{
    z-index: 2;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.slider__navi {
	position: absolute;
	top:  520px;
	right: 20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	z-index: 999;
}

.slider__navi a {
	  display: flex;
    height: 20px;
    border: 5px solid #2f2f2f8a;
    border-radius: 20px;
    width: 20px;
    margin: 20px 0;
    text-indent: -9999px;
    box-shadow: none;
    overflow: hidden;
    /* border: none; */
    background: #2f2f2f80;
}

.slider__navi a.active {
	background: #d60b52
}

body {
	position: relative;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	min-height: 100vh;
}

.flex__container {
	position: absolute;
	top: 0;
	left: 0;
	
  height: 100%;
	width: 100%;
  overflow: hidden;
  
}

.flex__container.flex--active {
	z-index: 2;
}

.flex__content {
	margin-left: 80px;
	width: 70%;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.flex__content .h5{
  font-size: 12px;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
  color: #d60b52;
  padding: 0;
}


.flex__content .h1 {
	font-family: 'Capriola', sans-serif;
  color: rgb(214 11 82);
	font-size: 30px;
	font-weight: 700;

  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
}

.flex__content .parrafo{
	font-size: 13px;
	color: rgb(214 11 82);
	line-height: 22px;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;
}


.flex__item {
	height: 100vh;
	color: rgb(255, 53, 53);
	transition: transform 0.1s linear;
}

.flex__item--left {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	width: 65%;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;

  margin-top: 400px;
}



.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
	opacity: 1;
}

/* Piplup */
.flex--one .flex__item--left {
	  border-radius: 20px;
    height: 250px;
    margin: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(243, 243, 243, 0.2);
    box-shadow: 0 10px 30px #e6628f96;
    margin-top: 400px;
}

.flex--two .flex__item--left {
  border-radius: 20px;
  height: 250px;
  margin: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(243, 243, 243, 0.2);
  box-shadow: 0 10px 30px #e6628f96;
  margin-top: 400px;
}




.flex--tree .flex__item--left {
	border-radius: 20px;
    height: 250px;
    margin: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(243, 243, 243, 0.2);
    box-shadow: 0 10px 30px #e6628f96;
    margin-top: 400px;
}



.flex--four .flex__item--left {
	border-radius: 20px;
    height: 250px;
    margin: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(243, 243, 243, 0.2);
    box-shadow: 0 10px 30px #e6628f96;
    margin-top: 400px;
}



.flex--five .flex__item--left {
	border-radius: 20px;
    height: 250px;
    margin: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(243, 243, 243, 0.2);
    box-shadow: 0 10px 30px #e6628f96;
    margin-top: 400px;
}


.flex--six .flex__item--left {
	border-radius: 20px;
    height: 250px;
    margin: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(243, 243, 243, 0.2);
    box-shadow: 0 10px 30px #e6628f96;
    margin-top: 400px;
}


/* Animate-START point */

.flex__container.animate--start .flex__content {
	transform: translate3d(0,-200%,0);
	opacity: 0;
}

.flex__container.animate--start .pokemon__img {
	transform: translate3d(-200px,0,0);
	opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
	transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
	transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
	transform: translate3d(0,200%,0);
	opacity: 0;
}

.flex__container.animate--end .pokemon__img {
	transform: translate3d(200px,0,0);
	opacity: 0;
}



@media (max-width: 550px) {
  .flex__content {
    margin-left: 40px;
    width: 70%;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.flex--one .flex__item--left {
  border-radius: 20px;
  height: 300px;
  margin: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(243, 243, 243, 0.2);
  box-shadow: 0 10px 30px #e6628f96;
  margin-top: 200px;
}

.flex--two .flex__item--left {
  border-radius: 20px;
  height: 300px;
  margin: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(243, 243, 243, 0.2);
  box-shadow: 0 10px 30px #e6628f96;
  margin-top: 200px;
}

.flex--tree .flex__item--left {
  border-radius: 20px;
  height: 300px;
  margin: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(243, 243, 243, 0.2);
  box-shadow: 0 10px 30px #e6628f96;
  margin-top: 200px;
}

.flex--four .flex__item--left {
  border-radius: 20px;
  height: 300px;
  margin: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(243, 243, 243, 0.2);
  box-shadow: 0 10px 30px #e6628f96;
  margin-top: 200px;
}

.flex--five .flex__item--left {
  border-radius: 20px;
  height: 300px;
  margin: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(243, 243, 243, 0.2);
  box-shadow: 0 10px 30px #e6628f96;
  margin-top: 200px;
}

.flex--six .flex__item--left {
  border-radius: 20px;
  height: 300px;
  margin: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(243, 243, 243, 0.2);
  box-shadow: 0 10px 30px #e6628f96;
  margin-top: 200px;
}

.flex__content .h5 {
  font-size: 12px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #d60b52;
  padding: 0;
  margin-top: 20px;
}

  .flex__content .h1 {
    font-family: 'Capriola', sans-serif;
    color: rgb(214 11 82);
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}
  
.slider__navi {
  position: absolute;
  top: 350px;
  right: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 999;
}

}





