
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Nunito:300,300i,400,400i,500,500i,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

.education{
    height: auto;
    border-color: white;
    overflow: hidden;
}
.education h4{
  text-align: center;
  color: #2D8AB5;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  margin-top: 50px;
}
.education h1{
  font-weight: 100;
  letter-spacing: normal;
  text-align: center;
  font-family: 'Capriola', sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 40px;
  color: #000000ba;
}

.education p{
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;
  padding: 10px 20px;
}

.education .educa{
  width: 100%;
  height: 100vh;
  z-index: 1;
  position:absolute;
  object-fit: cover;
}

.education .infor{
    z-index: 2;
    width: 100%;
    height: 100vh;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 280px;
    overflow: hidden;
}

.education .infor .colm1{
  width: 80%;
    height: 680px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(219 154 219 / 45%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    overflow: hidden;
  
}

.education .infor .colm2{
  width: 80%;
    height: 680px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(219 154 219 / 45%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    overflow: hidden;
}

.education .infor .item h5{
  font-family: 'Nunito', sans-serif;
}

.education .infor .item h3{
  font-family: 'Capriola', sans-serif;
  background-color: white;
  color:rgb(0 0 0 / 58%);
}

.education .infor .item p{
  font-family: 'Nunito', sans-serif;
}

@media (max-width: 1000px) {
  .education .infor{
    z-index: 2;
    width: 100%;
    height: 100vh;
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 280px;
    overflow-y: scroll;
  }
  .education .infor .colm1{
    width: 80%;
      height: auto;
      margin: auto;
      padding: 10px;
      border-radius: 20px;
      background-color: rgb(219 154 219 / 45%);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: space-around;
      overflow: hidden;
    
  }
  
  .education .infor .colm2{
    width: 80%;
      height: auto;
      margin: auto;
      padding: 10px;
      border-radius: 20px;
      background-color: rgb(219 154 219 / 45%);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: space-around;
      overflow: hidden;
  }
}



