@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Nunito:300,300i,400,400i,500,500i,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

a {
	text-decoration: none;
}

.container {
	min-height: 60vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}



/* Hero Section */
#hero {
    height: auto;
    overflow: hidden;
}
#hero .start{
    width: 100%;
    height: 100vh;
    z-index: 1;
    position:absolute;
    object-fit: cover;
}
#hero .info{
    z-index: 2;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(255, 255, 255, 0.144); */
    position: relative;
}

#hero .info .title{
    margin-left: 60px;
    margin-top: 140px;
}

#hero .info h1{
    display: block;
	width: fit-content;
	font-size: 3rem;
	position: relative;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
    color:#D60B52;
    font-family: 'Capriola', sans-serif;
}

#hero .info h3{
    width: 200px;
    height: 60px;
    margin-left: 60px;
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    
}

#hero .info button{
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
    margin-left: 60px;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  -20px 20px 60px #d9d9d9,
             20px -20px 60px #ffffff;
    outline: none;
}

#hero .info button:hover{
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  -20px 20px 40px #b0b0b0,
             20px -20px 40px #ffffff;
}